*{
    margin: 0;
    padding: 0;
}

h1,h3,p{
    font-family: "Inter", sans-serif;
}

.filad{
    display: flex;
}

h1{
    text-align: center;
}

.filter{
    width: 70%;
    margin: 2% 0% 2% 1%;
}

h3{
    text-align: center;
}

.for{
    margin-right: 6%;
    margin-top: 2%;
}

.r{
    margin-top: 2%;
    border: rgb(211, 211, 211) solid 1px;
    padding: 5%;
    padding-right: 15%;
    border-radius: 5px;
}

.forms{
    display: flex;
}

table{
    margin-top: 2%;
    border-collapse: collapse;
    width: 95%;
}

th, td{
    border: 1px solid grey;
    padding: 1%;
}

td:first-child{
    width: 27%;
}

td:nth-child(5){
    width: 8%;
    text-align: center;
}

th{
    background-color: #5B5B5B;
    color: white;
}

td{
    background-color: #444444;
    color: white;
}

.ad{
    width: 20%;
    background-color: #C6C6C6;
    padding: 3% 3% 2% 3%;
    margin-top: 2%;
    border-radius: 10px;
    margin-left: 2%;
}

.fo{
    margin-top: 10%;
}

.inp{
    margin-top: 20%;
}

.f{
    margin-top: 2%;
    border: rgb(211, 211, 211) solid 1px;
    padding: 5%;
    padding-right: 35%;
    border-radius: 5px;
}

button{
    background-color: #5E5BFF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5%;
    margin-top: 7%;
}