* {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 130%;
  box-sizing: border-box;
}

.header-teh {
  max-width: 350px;
  padding: 16px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stran {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stran-foto {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #005ff9;
  margin-left: 18px;
}

.stran-text {
  margin-left: 12px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.stran-text p:nth-child(2) {
  font-size: 14;
  font-weight: normal;
  color: #b0b0b0;
}

.menu {
  background-color: #f9fafb;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu div:nth-child(1) {
  width: 4.25px;
  height: 4.25px;
  border-radius: 100%;
  background-color: black;
  margin-bottom: 3px;
}
.menu div:nth-child(2) {
  width: 4.25px;
  height: 4.25px;
  border-radius: 100%;
  background-color: black;
  margin-bottom: 3px;
}
.menu div:nth-child(3) {
  width: 4.25px;
  height: 4.25px;
  border-radius: 100%;
  background-color: black;
}

.messenger {
  background-color: #f9fafb;
  font-size: 14px;
  height: 578px;
  max-width: 375px;
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: auto;
}
.messenger-teh {
  padding: 24px 16px;
}
.soob-ot-obol {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: start;
  margin-bottom: 12px;
}
.soob-ot {
  min-width: 200px;
  max-width: 270px;
  padding: 12px;
  background-color: #005ff9;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.soob-ot p {
  color: #fff;
  grid-column: 1/3;
  margin-bottom: 5px;
}
.soob-dop-obol {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.soob-dop {
  display: flex;
  justify-content: space-between;
  width: 60px;
  font-size: 12px;
}
.soob-pol-obol {
  margin-bottom: 12px;
}
.soob-pol {
  min-width: 200px;
  max-width: 270px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.soob-pol ol,
p {
  grid-column: 1/3;
  margin: 0;
  padding: 0;
}
.soob-pol ol {
  padding-left: 15px;
}
.soob-pol ol li {
  margin-bottom: 5px;
}
.soob-pol .soob-dop {
  width: 40px;
}
.soob-pol .soob-dop p {
  color: #b0b0b0;
}

.input {
  width: 375px;
  padding: 14px 16px;
  margin: auto;
}
.input-teh form {
  display: grid;
  display: flex;
  height: 49px;
}
.input-teh form input {
  width: 285px;
}
.input-teh form button {
  width: 48px;
  height: 48px;
  background-color: #005ff9;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
.input-teh form input {
  border: none;
  background-color: #f9fafb;
  padding: 12px 14px;
}
.input-teh form input::placeholder {
  font-size: 16px;
  color: #b0b0b0;
}
