/*<div class="card">
            <div class="card-back">
                <div class="card-back-line"></div>
                <input type="text" id="cvv-code">
            </div>
            <div class="card-front">
                <img src=" " alt=" " class="card-bank">
                <img src=" " alt=" " class="card-system">
                <input type="text" id="card-number">
                <input type="text" id="card-date">
            </div>
        </div>*/


.card{
    width: 751px;
    height: 381px;
    position: relative;
}

.card-front, .card-back {
    width: 535px;
    height: 343px;
    border: 1px solid gray;
    border-radius: 15px;
    position: absolute;
}

.card-back{
    right: 0;
    bottom: 0;
    background-color: rgb(193, 192, 192);
}

.card-front{
    background-color: rgb(212, 219, 254);
    padding-top: 15px;
}

.card-back-line{
    width: 100%;
    height: 80px;
    background-color: rgb(157, 148, 239);
    position: absolute;
    top: 50px;
}

#cvv-code{
    position: absolute;
    right: 40px;
    bottom: 100px;
    width: 100px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    color: rgb(75, 75, 75);
}

.text-back{
    position: absolute;
    right: 25px;
    bottom: 145px;
    width: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(50, 40, 147);
}

.group{
    padding-left: 10%;
    padding-bottom: 5px;
}

.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-bottom: 10px;
}

#card-number{
    width: 60%;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    color: rgb(75, 75, 75);
}

#card-date{
    width: 100px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    color: rgb(75, 75, 75);
}

#card-holder{
    width: 40%;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    color: rgb(75, 75, 75);
}

input{
    background-color: rgb(228, 228, 251);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(50, 40, 147);;
}