body {
    font-family: Arial, sans-serif;
}

.chat-container {
    width:  400px;
    margin:  0 auto;
    border:  1px solid #ccc;
    border-radius:  5px;
    overflow: hidden;
}

.chat-header {
    background-color: #f5f5f5;
    padding:  10px;
    text-align: center;
}
.chat-body {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
}

.chat-footer {
    background-color: #eee;
    padding:  10px;
    display: flex;
}

#messageInput {
    flex-grow:  1;
    margin-right:  10px;
}

#sendButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding:  5px  10px;
    border-radius:  5px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #0056b3;
}
