h2{
    margin: 0 0 20px 0;
}
.entrance{
    width: 400px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 15px;
}
input{
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    border: 1px solid #D9D9D9;
    font-size: 17px;

}
input:focus {
    border-color: #357C5D;
}
input::placeholder{
    font-size: 17px;
}
button{
    display: block;
    padding: 15px;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #357C5D;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
}
button:hover{
    background-color: #2a6149;
    
}
.checkbox-input{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5px;
}
#checkbox{
    width: 20px;
    height: 20px;
    margin: 0;
}
.checkbox-input label{
    display: inline-block;
    margin: 0 0 0 8px;
    display: block;
    font-size: 20px;
}