*{
    margin: 0;
    padding: 0;
}

#email, #password{
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
}
input::placeholder{
    padding-left: 10px;
}
button{
    width: 150px;
    background-color: rgb(51, 148, 100);
    color: white;
    border: none;
    margin-top: 10px;
}

#email{
    border: 2px solid rgb(51, 148, 100);
}

#password{
    margin-bottom: 10px;
}

.Vxod{
    margin-left: 30px;
}