body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="password"] {
    max-width: 350px;
    width: 100%;
    padding: 3.1%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

input[type="checkbox"] {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
label{
    font-size: 13px;
    color: #878787;
  }

button {
    max-width: 380px;
    width: 100%;
    padding: 3.1%;
    border-radius: 10px;
    background-color: #5d52f6;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #3c32af;
}