* {
    font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.input {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 5px;
}

.inputbox input {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputbox button {
    padding: 8px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}